.about-section {
    background: url("/public/img/photo/Background.png") no-repeat center center;
    height: 100vh;
    color: white;
  }

  
  .profile-pic-rounded {
    width: 60%;
    height: 60%;
  }
  
  /* Texte aligné proprement */
  .about-text-content {
    margin-top: 300px;
    margin-left: 100px;
    text-align: center;
  }
  
  .about-title {
    font-size: 4rem;
    font-weight: 500;
  }
  
  .about-description {
    font-size: 1.3rem;
    margin: 10px 0;
  }
  
  .about-expertise {
    font-size: 1.3rem;
    margin-top: 40px;
    text-align: center;
  }