.navbar-nav .nav-link {
    color: #1F2A59 !important;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  /* Hover : bleu + souligné */
  .navbar-nav .nav-link:hover {
    color: #00B4D8 !important;
    border-bottom: 2px solid #00B4D8;
  }

  .navbar-nav .nav-link.active {
    color: #00B4D8 !important;
    border-bottom: 2px solid #00B4D8;
  }

  .social-icons a {
    color: #1F2A59; /* Couleur par défaut personnalisée */
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  /* Hover spécifique à LinkedIn */
  .social-icons a[href*="linkedin"]:hover {
    color: #00B4D8;
  }
  
  /* Hover GitHub (par exemple, un bleu foncé stylisé) */
  .social-icons a[href*="github"]:hover {
    color: #00B4D8;
  }